.windows-bg {
  background-color: rgba(0, 200, 250, 0.2);
}

.linux-bg {
  background-color: rgba(240, 180, 30, 0.2);
}

.windows-bg-padded {
  padding: 5px;
  background-color: rgba(0, 200, 250, 0.2);
}

.linux-bg-padded {
  padding: 5px;
  background-color: rgba(240, 180, 30, 0.2);
}

.anti-plag {
  font-size: 1px;
  margin: 0;
  color: transparent;
}

.pre-anti-plag {
    margin-bottom: 0;
}

.post-anti-plag {
    margin-top: 0;
}
